html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#left-eye {
  animation: lefteye 3s infinite linear;
}

#right-eye {
  animation: righteye 3s infinite linear;
}

@keyframes lefteye {

  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }

  100% {
    transform: translate(0, 0);
  }

}

@keyframes righteye {

  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }

  100% {
    transform: translate(0, 0);
  }

}

#left-ear #right-ear {
  transform: translate(0, 10px);
  transition: all .5s linear;
}

svg:hover #left-ear{
  transform: translate(0, -15px);
}

svg:hover #right-ear{
  transform: translate(0, -15px);
}
